:root {
  --font-size-body: clamp(0.875rem, calc(0.8385417rem + 0.1822917vw), 0.984375rem);
  --font-size-heading: clamp(1.09375rem, calc(1.0208333rem + 0.3645833vw), 1.3125rem);
  --font-size-title: clamp(1.3125rem, calc(1.1666667rem + 0.7291667vw), 1.75rem);
  --font-size-display: clamp(1.75rem, calc(1.4583333rem + 1.4583333vw), 2.625rem);
}

body,
small,
sub,
sup {
  font-size: var(--font-size-body);
}
