body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.menu-item {
    position: absolute;
    color: black;
    text-decoration: none;
    font-size: 10vh;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.about-me-text {
    position: absolute;
    top: 100px;
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%); 
}

.menu-item:hover {
    color: #0000fe;
    text-decoration: underline;
}

.menu-item.top-left {
    top: 2%;
    left: 2%;
}

.menu-item.top-right {
    top: 2%;
    right: 2%;
}

.menu-item.bottom-left {
    bottom: 2%;
    left: 2%;
}

.menu-item.bottom-right {
    bottom: 2%;
    right: 2%;
}

.line {
    position: absolute;
    background-color: #0000fe;
    z-index:-1000;
}

.line.horizontal {
    height: 0.06vh;
    width: 100%;
}

.line.horizontal:nth-child(1) {
    bottom: 40px;
}

.line.horizontal:nth-child(2) {
    top: 102px;
}

.line.vertical {
    width: 0.06vh;
    height: 100%;
}

.line.vertical:nth-child(3) {
    right: 43px;
}
.line.vertical:nth-child(4) {
    left: 709px;
}